{% extends 'home/home.html.twig' %}
{% block content %}
   <div class="container">
       <div class="main-command">
           <h3>Use Instagram with ease</h3>
           <p>Our advanced commands allow any Instagram user to automate their actions</p>
           <img style="max-width: 100%;height: auto;width: 80%;margin-top: -60px" src="{{ asset('assets/img/features/carbon.svg') }}">
       </div>
       <div class="settings">
           <h3>Fully customizable</h3>
           <i class="fas fa-cogs"></i>
       </div>
   </div>
{% endblock %}