{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">
          <div class="card">
              <div class="card-header">
                  <h3 class="card-title">Test command</h3>
              </div>
              <div class="card-body">
                  <div class="form-group">
                      {{ form(form) }}
                  </div>
              </div>
          </div>
      </section>     
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}

