{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">  
         {% set bot = 'search' %}    
         {{ include( 'instagui/component/search.html.twig',sandboxed = true) }}
          {% set bot = 'message_sender' %}    
         {{ include( 'instagui/component/message.html.twig',sandboxed = true) }}
      </section>     
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}

