{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
    {{parent()}}
{% endblock %}
{% block Section %}
    <div class="container">
        <section class="section-padding">
            <div class="row">
                {% if history %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Message</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in history|sort|reverse %}
                        <tr>
                            <th scope="row">
                                {% if i.type == 'searchSet' %}
                                    <i class="fas fa-search"></i> Search
                                {% elseif i.type == 'follow' %}
                                    <i class="fas fa-user-plus"></i> Follow
                                {% elseif i.type == 'like' %}
                                    <i class="fas fa-heart"></i> Like
                                {% elseif i.type == 'foundPeople' %}
                                    <i class="fas fa-users"></i> People found
                                {% elseif i.type == 'bot' %}
                                    <i class="fas fa-robot"></i> Bot
                                {% elseif i.type == 'error' %}
                                    <i class="fas fa-exclamation-triangle"></i> Error
                                {% endif %}
                            </th>
                            <td>{{ i.message }}</td>
                            <td>
                                {% if i.date %}
                                    {{ i.date|date('H:i:s d-m-Y') }} UTC
                                {% else %}
                                    No date available
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="card">
                        <div class="alert alert-danger" role="alert">
                            No Instagram account found ! Please add one first by clicking below
                        </div>
                        <a href="profile"><button class="btn btn-success">Click here</button></a>
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}
{% block Footer %}
    {{parent()}}
{% endblock %}

