{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
      <div class="container">
            {% if not account %}
            <div class="alert alert-danger m-2" role="alert">
                  No Instagram account found ! Please add one first by clicking below
            </div>
            <a class="m-2 justify-content-center" href="profile"><button class="btn btn-success">Click here</button></a>
            {% endif %}
            <section class="section-padding">
                  <div class="card col-6">
                        <div class="card-header">
                              <h3>Updates</h3>
                        </div>
                        <div class="card-body">
                              <h1>1.0</h1>
                              <h2>What's new? 🚀</h2>
                              <ul>
                                    <li>Launching main command from front</li>
                                    <li>Set up your launch schedule</li>
                                    <li>Searched user now match your <a href="parameters">settings</a></li>
                                    <li>Get your <a href="history">logbook</a></li>
                              </ul>
                        </div>
                  </div>
                  <div class="card col-6">
                        <div class="card-header">
                              <h3>Bots status 🔋</h3>
                        </div>
                        <div class="card-body">
                              <table class="table">
                                    <thead>
                                          <tr>
                                                <th>Main command</th>
                                                <th>Search</th>
                                                <th>Liking</th>
                                          </tr>
                                    </thead>
                                    <tbody>
                                          <tr>
                                                {#<td>{% if command.main %}✅{% else %}⛔️{% endif %}</td>
                                                <td>{% if command.search %}✅{% else %}⛔️{% endif %}</td>
                                                <td>{% if command.liking %}✅{% else %}⛔️{% endif %}</td>
                                                #}
                                          </tr>
                                    </tbody>
                              </table>
                        </div>
                  </div>
            </section>
            <!-- Counts Section -->
            <section class="dashboard-counts section-padding">

            </section>
            <!-- Statistics Section-->
            <section class="statistics">

            </section>
            <!-- Updates Section -->
            <section class="mt-30px mb-30px">

            </section>
      </div>
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}

