{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
      <div class="container">
            <section class="section-padding">
                  <h1>1.0</h1>
                  <h2>What's new? 🚀</h2>
                  <ul>
                        <li>Setting up parameters from Parameters page</li>

                  </ul>
            </section>
            <!-- Counts Section -->
            <section class="dashboard-counts section-padding">

            </section>
            <!-- Statistics Section-->
            <section class="statistics">

            </section>
            <!-- Updates Section -->
            <section class="mt-30px mb-30px">

            </section>
      </div>
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}

