{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">  
      </section>     
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}

