{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding container-fluid ">  
           <div class="card mt-3">
                  <div class="card-header "> 
                   <h3> Paramètres </h3> 
                  </div>
                  <div class="card-body"> 
                      <form name="configForm">
                            <!-- saerch  config start  -->  
                              
                             
                                <label class="form-control-label col-3 vcenter"> <h3> recherche </h3></label>
                              <div class="form-group row">
                              <label class="form-control-label col-3 vcenter">Abonnées </label>
                              <input name="minfollow"  data-prefix="MIN" type="number" value="50" class="col-4">
                              <input name="maxfollow" data-prefix="MAX" type="number" value="50" class="col-4">
                              </div>
                              <div class="form-group row">
                              <label class="form-control-label col-3">Abonnements </label>
                              <input name="minfollowing" data-prefix="MIN" type="number" value="50" class="col-4">  
                              <input name="maxfollowing" data-prefix="MAX" type="number" value="50" class="col-4">
                              </div>
                              <div class="form-group row">
                              <label class="form-control-label col-3">Publications </label>
                              <input name="minpublication" data-prefix="MIN" type="number" value="50" class="col-4">
                              <input name="maxpublication" data-prefix="MAX" type="number" value="50" class="col-4">
                              </div>
                              <div class="form-group row">
                              <label class="form-control-label col-3">Photo de profil </label>
                                  <div class="i-checks col-3 ">
                                    <input id="radioCustom1" type="radio" value="1" name="b" class="form-control-custom radio-custom">
                                    <label for="radioCustom1">Avec photo de profil</label>
                                  </div>
                                  <div class="i-checks col-3">
                                    <input id="radioCustom2" type="radio" checked="" value="-1" name="b" class="form-control-custom radio-custom">
                                    <label for="radioCustom2">Sans photo de profil</label>
                                  </div>
                                  <div class="i-checks col-3">
                                    <input id="radioCustom3" type="radio"  value="0" name="b" class="form-control-custom radio-custom">
                                    <label for="radioCustom3">Peu importe </label>
                                  </div>
                              </div>
                              <div class="form-group row">
                              <label class="form-control-label col-3">Accepter les Comptes privés </label>
                                <div class="i-checks col-3 ">
                                    <input id="radioCustom11" type="radio" value="1" name="a" class="form-control-custom radio-custom">
                                    <label for="radioCustom11">Oui</label>
                                  </div>
                                  <div class="i-checks col-3">
                                    <input id="radioCustom22" type="radio" checked="" value="0" name="a" class="form-control-custom radio-custom">
                                    <label for="radioCustom22">Non</label>
                                  </div>
                              </div>
                              <!-- search config end   -->
                              
                              <!--separator --> 
                              <div class="w-100"><hr></div>

 
                              <!-- follow config start  --> 
                                 <label class="form-control-label col-3 vcenter"> <h3> follow </h3></label>  
                              <div class="form-group row">
                              <label class="form-control-label col-3 vcenter"> </label>
                              
                              <input id="number" data-prefix="Heurs" type="number" value="50" class="col-6">
                              </div>
                              <div class="form-group row">
                              <label class="form-control-label col-3">Maximum fallow </label>
                            
                              <input id="number" data-prefix="Jours" type="number" value="50" class="col-6">
                              </div>
                              <div class="form-group row">
                              <label class="form-control-label col-3"></label>
  
                              <input id="number" data-prefix="Mois"  type="number" value="50" class="col-6">
                              </div> 
                            
                             <!-- follow config end  --> 

                              <!--separator --> 
                              <div class="w-100"><hr></div> 
                               <!-- unfollow config start  --> 
                                  <label class="form-control-label col-3 vcenter"> <h3> unfollow </h3></label>
                              <div class="form-group row">
                              <label class="form-control-label col-3 vcenter">day to unfollow </label>
                              
                              <input id="number" data-prefix="jours" type="number" value="6" class="col-6">
                              </div>
                               <div class="form-group row">
                              <label class="form-control-label col-3">add unfollow users to blacklist  </label>
                                <div class="i-checks col-3 ">
                                    <input id="radio-oui" type="radio" value="1" name="radio" class="form-control-custom radio-custom">
                                    <label for="radio-oui">Oui</label>
                                  </div>
                                  <div class="i-checks col-3">
                                    <input id="radio-non" type="radio" checked="" value="0" name="radio" class="form-control-custom radio-custom">
                                    <label for="radio-non">Non</label>
                                  </div>
                              </div> 
                              <!-- unfollow config end  -->
                              <!-- follow config end  --> 

                              <!--separator --> 
                              <div class="w-100"><hr></div> 
                               <!-- like config start  --> 
                                  <label class="form-control-label col-3 vcenter"> <h3> like </h3></label>
                               <div class="form-group row">
                             
                                  <div class="i-checks ">
                                    <input id="like-1" type="radio" value="1" name="radio-like" class="form-control-custom radio-custom"> 
                                    <label class="form-control-label" for="like-1">publication la plus liker </label>
                                  </div>
                                  
                              </div>
                               <div class="form-group row">
                              
                                  <div class="i-checks">
                                    <input id="like-2" type="radio" value="2" name="radio-like" class="form-control-custom radio-custom">  
                                     <label class="form-control-label " for="like-2">publication la plus récente </label> 
                                  </div>
                                 
                              </div> 

                             
                               <div class="form-group row">
                              
                                  <div class="i-checks  ">
                                    <input id="like-3" type="radio" value="3" name="radio-like" class="form-control-custom radio-custom"> 
                                    <label class="form-control-label " for="like-3">publication retrouver par le tag </label>
                                  </div>
                              </div>  
                              <!-- like config end  -->
                               
                                <!--separator --> 
                              <div class="w-100"><hr></div> 
                                 <!-- message send  start  -->
                                  <label class="form-control-label col-3 vcenter"> <h3> message </h3></label>
                                 <div class="form-group row">
                                <label class="form-control-label col-3 vcenter">Waiting time </label>
                                <input id="number" data-prefix="Min" type="number" value="6" class="col-3">
                                <div class="col-3">
                                    <select class="selectpicker">
                                        <option>seconds</option>
                                        <option>minutes</option>
                                        <option>heures</option>
                                        <option>jours</option>
                                    </select>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label class="form-control-label col-3"></label>
                                <input id="number" data-prefix="Max" type="number" value="6" class="col-3">
                                <div class="col-3">
                                    <select class="selectpicker">
                                        <option>seconds</option>
                                        <option>minutes</option>
                                        <option>heures</option>
                                        <option>jours</option>
                                    </select>
                                </div>
                                
                              </div>
                              <div class="form-group row">
                                <label class="form-label col-3">Message</label>
                                <textarea rows="8" class="form-control col-6">Hello World!!!!!!!!</textarea>
                              </div>
                              <!-- message send  end  -->




                              </form> 
                             <div class="form-group">
                                   <button class="btn btn-primary float-right" type="button" onclick="config()">Enregistrer</button>  
                              </div>


                  </div>
             </div>

      </section>     
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}

