{% extends '/home/home.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="h3 mb-3 font-weight-normal text-white">Create your account!</h1>
        </div>
        <div class="card-body">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}