{% extends 'base.html.twig' %}

{% block title %}INSTAGUI{% endblock %}

{% block Navbar %}
 {{parent()}}
{% endblock %}
{% block Section %}
      <!-- Counts Section -->
      <section class="dashboard-counts section-padding">
       <div class="signin-account">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input name="username" class="form-control" placeholder="Input your Instagram username" type="text"/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input name="password" class="form-control" type="password"/>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-outline-primary">Save</button>
                    <a href="{{   path('sign_in', {'username':username,'password':password})  }}">
                        <button type="button" class="btn btn-outline-secondary">Test connection</button>
                    </a>
                </div>
            </div>
      </section>
      <!-- Statistics Section-->
      <section class="statistics">
      
      </section>
      <!-- Updates Section -->
      <section class="mt-30px mb-30px">
       
      </section>
{% endblock %}
{% block Footer %}
{{parent()}}
{% endblock %}
