{% extends '/home/home.html.twig' %}
{% block Stylesheet %}
    <head>
        <link rel="stylesheet" href="{{ asset('assets/css/fb-emoji.css')}}"/>
    </head>
{% endblock %}
{% block content %}
    <div class="emoji  emoji--sad">
        <div class="emoji__face">
            <div class="emoji__eyebrows"></div>
            <div class="emoji__eyes"></div>
            <div class="emoji__mouth"></div>
        </div>
    </div>
    <h1>Page not found</h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="/">return to the homepage</a>.
    </p>
{% endblock %}